<head>
   <link type="text/css" rel="stylesheet" href="app/assets/stylesheets/pages.css.scss">
</head>
<body>
  <div class="header">
	<div class="container">
  	<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <h2>Chris Moorhead</h2>
    </div>
    <ul class="nav navbar-nav">
      <li><%= link_to 'Home', '/' %></li>
      <li><%= link_to 'Portfolio', '/portfolio' %></li>
      <li><%= link_to 'Blog', 'https://medium.com/@developerbrew' %></li>
      <li class= "active"><a href="#">About</a></li>
    </ul>
  </div>
</nav>
  </div>
</div>
  <div class="about">
      	<div class="container">
        	<img src="https://scontent-atl3-1.xx.fbcdn.net/v/t1.0-9/14962537_1480303568650463_7725188328966482634_n.jpg?oh=9490f3dd6724341abb55b3c2de16a789&oe=58BA102D">
          <div class ="info">
          <p>My name is Chris Moorhead and I am a software developer from Auburn, Alabama. My goal is to exceed all expectations of my clients and give you the best product to help you build your business.</p>
          <h2>I provide services in</h2>
          <ul>
            <li>Front-End Website Development</li>
            <li>Back-End Server Management</li>
            <li>Graphic Design</li>
            <li>Social Media Consultation</li>
          </ul>
          </div>
        </div>
      </div>
</body>