<head>
   <link type="text/css" rel="stylesheet" href="app/assets/stylesheets/pages.css.scss">
</head>
<body>
    <div class="header">
	<div class="container">
  	<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <h2>Chris Moorhead</h2>
    </div>
    <ul class="nav navbar-nav">
      <li><%= link_to 'Home', '/' %></li>
      <li class="active"><a href="#">Portfolio</a></li>
      <li><%= link_to 'Blog', 'https://medium.com/@developerbrew' %></li>
      <li><%= link_to 'About', '/about' %></li>
    </ul>
  </div>
</nav>
  </div>
</div>
  <div class="main">
		<h1>Portfolio is lit</h1>
  </div>
</body>