<html>
<head>
  <link type="text/css" rel="stylesheet" href="app/assets/stylesheets/pages.css.scss">
</head>
<body>
<div class="header">
	<div class="container">
  	<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <h2>Chris Moorhead</h2>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href="#">Home</a></li>
      <li><a href="#">Portfolio</a></li>
      <li><a href="#">About</a></li>
      <li><a href="#">Contact</a></li>
    </ul>
  </div>
</nav>
  </div>
</div>
  
  <div class="main">
    <div class="container">
      <h1>Software Developer </h1>
      <a href="#" class="btn btn-info" role="button"> View my Work</a>
    </div>
  </div>
  
  <div class="footer">
  	<div class="container">
      <div class="row">
        <div class=".col-md-6 .offset-md-3">
    		<ul>
        	<li><a href="#"><img src="http://image.flaticon.com/icons/svg/24/24233.svg" height="40", width="40"></a></li>
        	<li><a href="#"><img src = "http://image.flaticon.com/icons/svg/34/34405.svg" height="40" width="40"></a></li>
        	<li><a href="#"><img src="http://image.flaticon.com/icons/svg/9/9148.svg" height="40" width="40"></a></li>
      	</ul>
        </div>
      </div>
          <p>Copyright &copy; 2016</p>
    </div>
  </div>
</body>
</html>