<html>
<head>
  <link type="text/css" rel="stylesheet" href="app/assets/stylesheets/pages.css.scss">
</head>
<body>
    <div class="header">
	<div class="container">
  	<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <h2>Chris Moorhead</h2>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href="#">Home</a></li>
      <li><%= link_to 'Portfolio', '/portfolio' %></li>
      <li><%= link_to 'Blog', 'https://medium.com/@developerbrew' %></li>
      <li><a href="#">Contact</a></li>
    </ul>
  </div>
</nav>
  </div>
</div>
  
  <div class="main">
    <div class="container">
      <h1>Software Developer </h1>
      <a href="#" class="btn btn-info" role="button"> View my Work</a>
    </div>
  </div>
  

</body>
</html>